.form {
    display: flex;
    gap: .5rem;
    margin-bottom: 4rem;
}

.form > input[type="text"] {
    width: 100%;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    outline: none;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-300);
}

.form > button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    background: var(--blue-900);
    color: var(--gray-100);
    border: 0;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form > button[type="submit"]:hover {
    background: var(--blue-500);
}

.form > button[type="submit"]:disabled {
    background: var(--gray-500);
    cursor: not-allowed;
}

.status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.status p {
    display: flex;
    align-items: center;
    gap: .2rem;
    font-weight: bold;
    margin-right: 1rem;
    font-size: 0.875rem;
}

p > span {
    display: block;
    color: var(--gray-200);
    background-color: var(--gray-500);
    padding: 0.1rem 0.5rem;
    border-radius: 999rem;
}

.created {
    color: var(--blue-500);
}

.finished {
    color: var(--purple-500);
}

.noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--gray-300);
}

.noData > h2 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray-300);
    margin-top: 1rem;
}

.noData > p {
    font-size: 1rem;
}